.header-container {
    max-height: 60px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background: white;
    padding: 1rem 2rem;
    border-bottom: 1px solid #e1e1e1;

    h1 {
        margin: 0;
        font-size: 1.5rem;
        font-weight: 600;
        font-family: "Roboto", sans-serif;
        color: #292820;
    }
}
