.search-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: black;

    [class^="search-"] {
        border-radius: 5px;
        padding: 1.5rem;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    .search-bar {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .input {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            input {
                width: 40%;
                border: 1px solid #e1e1e1;
                padding: 0.7em 1.2em;
                height: 100%;
                border-radius: 3px;
                background: white;
                color: var(--dark-gray);

                &:focus {
                    outline: none;
                    box-shadow: 0 0 1px 2px rgba(254, 216, 0, 0.3);
                }
            }
            button {
                position: relative;
                padding: 0.7em 1.5em;
                background: #181817;
                border-radius: 3px;
                border: none;
                z-index: 0;

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0%;
                    height: 100%;
                    border-radius: 3px 0 0 3px;
                    background: #132db6;
                    transition: 0.3s;
                    opacity: 0;
                    z-index: -1;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 0%;
                    height: 100%;
                    border-radius: 0 3px 3px 0px;
                    background: #132db6;
                    transition: 0.3s;
                    opacity: 0;
                    z-index: -1;
                }

                &:hover {
                    &::after {
                        width: 50%;
                        opacity: 1;
                    }
                    &::before {
                        width: 50%;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .input {
        flex-direction: column;
        align-items: flex-start !important;
        input {
            width: 70% !important;
        }
    }
}

@media (max-width: 480px) {
    .search-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        color: black;

        [class^="search-"] {
            padding: 1rem !important;
        }
        .input {
            input {
                width: 100% !important;
            }
        }
    }
}

@media (max-width: 480px) {
    .input {
        input {
            width: 100% !important;
        }
    }
}
